@use "@/scss/variables.scss";

.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: -6vh;
  z-index: 1;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  // styling
  background-color: var(--color-background);
}

.container {
  @include variables.flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: 1vh;
}

.toolbar {
  @include variables.flex;
  gap: 8px;
}
