@use "@/scss/variables.scss";
@import "@/scss/reset";

// html[data-theme="light"] {
:root {
  --color-text: #{variables.$text-light};
  --color-background: #{variables.$background-light};
  --color-background-secondary: #{variables.$background-secondary};
  --color-secondary: #{variables.$secondary-light};
}
// }

// html[data-theme="dark"] {
//   --color-text: #{variables.$text};
//   --color-text-alpha: #{variables.$text-alpha};
//   --color-background: #{variables.$background};
//   --color-background-alpha: #{variables.$background-alpha};
//   --secondary: #{variables.$secondary};
// }

section {
  background-color: var(--color-background-secondary);
}
